.footer {
    background-color: rgba(204, 88, 3, 0.8); /* Ustawia kolor tła na lekko transparentny */
    color: white; 
    padding: 20px; 
    text-align: center; 
    position: fixed;
    bottom: 0; 
    width: 100%;
    z-index: 10; 
}

.footer-link {
color: white;
margin: 30px;
text-decoration: none;
}